GEMINI_API_KEY=dummy
SUPABASE_URL=https://ucypbapspdsqheltosbz.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVjeXBiYXBzcGRzcWhlbHRvc2J6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE2MDU1ODQsImV4cCI6MjA5NzE4MTU4NH0.4FuxsLoD0q1y0a9V46OfJ4cet9EwQpMcOUbsBf4kwJA
